[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pyan3 = "*"
sphinx = "*"

[packages]
requests = "*"
smart-open = "*"
pyspark = {version="*"}
omegaconf = "*"
prompt-toolkit = "*"
invoke = "*"

[requires]
python_version = "3.7"
